<div fxLayout="column" fxLayoutAlign="start stretch" class="mat-app-background minhas-cervejas-dark" fxFlexFill>
	<div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="0 0 56px">
		<a routerLink="/core/layout/home">home</a>&nbsp;
		<a routerLink="/core/layout/login">login</a>&nbsp;
		<a routerLink="/core/layout/signup">signup</a>&nbsp;
		<a routerLink="/core/layout/cervejas">cervejas</a>&nbsp;
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 1 auto">
		<router-outlet></router-outlet>
	</div>
</div>

